<link rel="stylesheet" href="logout.component.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <app-courosal></app-courosal>
        </div>
        <div class="col-md-2">
            <h1>You have successfully logged out. </h1> <br />
            <h3>Please <a [routerLink]="['/login']"> click </a>here to go to Login Page</h3><br>

            <br>
            <br>
            <br>

            <span class="img-container">
              
                <img src="https://media.tenor.com/images/cbae2dfd31aa5ec2fcb7f46b65e1550f/tenor.gif">
            </span>

        </div>
    </div>

</div>