<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="footer-top">
    <div class="container">
        <div class="social-icons">
            <i class="icon fa fa-twitter"></i>
            <i class="icon fa fa-facebook"></i>
            <i class="icon fa fa-google-plus"></i>
            <i class="icon fa fa-instagram"></i>
            <i class="icon fa fa-pinterest"></i>
            <i class="icon fa fa-youtube-play"></i>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <p>AirLine Management System 2021.POD-5.</p>
</div>