<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id="myCarousel" class="carousel slide" data-ride="carousel"> -->
<!-- Indicators -->
<!-- <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol> -->
<!-- Wrapper for slides -->
<!-- <div class="carousel-inner">
                    <div class="item active">
                        <img src="https://images.unsplash.com/photo-1556388158-158ea5ccacbd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YWlycG9ydHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                        <img src="https://images2.alphacoders.com/734/734981.jpg" alt="Chicago" style="width:100%;">
                    </div>

                    <div class="item">
                        <img src="https://images.unsplash.com/photo-1529074963764-98f45c47344b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80" alt="New york" style="width:100%;">
                    </div>
                </div> -->

<!-- Left and right controls -->
<!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-1"></div> -->

<!-- details card section starts from here -->

<!-- details card section starts from here -->
<!-- <section class="details-card">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <div class="card-content">
                    <div class="card-img">
                        <div class="card-desc">
                            <h2>Why To Choose US</h2>
                            <h5>Because we’ll understand your brand. Before we even start writing, we think about your tone of voice and value proposition, so every word builds your brand
                            </h5>
                        </div>
                        <img src="https://b2c-admin-storage.s3-ap-southeast-1.amazonaws.com/CMS/Prod/995x360fdsfdf.jpg" alrt="Why To Choose US" width="500px" height="400px">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                    </div>
                    <div class="card-desc">

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-content">
                    <div class="card-img">
                        <div class="card-desc">
                            <h2>Customer FeedBack</h2>
                            <h5>We works on each and every Customer feedback it helps us to grow more with customer and so far we delivered the best of best to the Customer Satisfaction.
                            </h5>
                        </div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdYVdmbcvJAerRlltMwV64EAVVdiRIsL59xvDn0cfUG3CEVChSdsOewCEP4QTrk-GPT5s&usqp=CAU" alt="" width="500px" height="400px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- details card section starts from here -->
<!-- 

<section style="width:100%; height:300px; padding: 3%;">
    <p class="font-weight-bold heading text-center" style="font-size:30px; padding:0%;">HighLight's about Our Services
    </p>
    <br>
    <article style="margin-left: 10%; float:left;">
        <div class="text-center">

            <i class="fa fa-handshake-o fa-5x" aria-hidden="true"></i>
        </div>
        <h3>Customer Satisfaction</h3>
    </article>

    <article style="margin-left: 22%; float:left;">
        <div class="text-center">
            <i class="fa fa-file-text fa-5x" aria-hidden="true"></i>
        </div>
        <h3>Paperless Process</h3>
    </article>

    <article style="margin-left: 27%; float: left;">
        <div class="text-center">
            <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
        </div>
        <h3>Time Saving</h3>
    </article>
</section>

<div class="row" style="padding: 5rem ;margin: 0; text-align: center;">
    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="../../assets/images/bg1.jpg" style="width:100%; height:300px;">
        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="../../assets/images/flying.jpg" style="width:100%">

        </div>
    </div>
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="../../assets/images/download.jpg" style="width:100%; height: 300px;">

        </div>
    </div>
</div> -->


<!--background slide image-->
<!-- <div class="background-wrapper" style="background-image: url(../../assets/images/wallpaper2you_55745.jpg);">
    <div style="text-align: center; padding: 10rem; color:white">
        <h3>come fly with us to desired places & we'll take care of your comfort and safety</h3>
        <hr width="30%" align="center">
        <h1>Welcome to Airline</h1>
    </div>
</div>
 -->


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="https://images.all-free-download.com/images/graphiclarge/passenger_traffic_airline_aviation_239072.jpg" alt="Los Angeles" style="width:100%;height: 700px;">
                    </div>

                    <div class="item">
                        <img src="https://images2.alphacoders.com/734/734981.jpg" alt="Chicago" style="width:100%;height: 700px;">
                    </div>

                    <div class="item">
                        <img src="https://images.unsplash.com/photo-1529074963764-98f45c47344b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80" alt="New york" style="width:100%;height: 700px;">
                    </div>
                </div>

                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="container-fluid" style="padding-top: 10px;">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10" style="background-color: rgba(0, 0, 0, 0.61);">

                <div class="text-center" style="color: ghostwhite;">
                    <h2><b><i>Booking </i></b></h2>
                    <h3><b><i>Services you will love </i></b></h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" style="padding-top: 10px;">

        <div class="col-md-4">
            <img src="https://static.dezeen.com/uploads/2018/04/Pearsonlloyd-economy-airline-seat_dezeen_2364_col_0-852x479.jpg" alt="img" style="width:100%">
            <h3>Economy Class</h3>
            <h6 class="w3-opacity">From <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;99</h6>
            <p><i class="fa fa-users" aria-hidden="true"></i>&nbsp; <b>1-5</b></p>
            <p class="w3-large"><i class="fa fa-phone"></i> <i class="fa fa-wifi"></i></p>
        </div>
        <div class="col-md-4">
            <div class="w3-third w3-margin-bottom">
                <img src="https://www.britishairways.com/assets/images/MediaHub/Media-Database/Royalty-free-RF/Cabins/Club-World/A380_CW_01_Cabin-Overview_Cross-Aisle_1200x675.jpg" alt="img" style="width:100%">
                <h3>Business Class</h3>
                <h6 class="w3-opacity">From <i class="fa fa-inr" aria-hidden="true"></i> 149</h6>
                <p>25m<sup>2</sup></p>
                <p class="w3-large"> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i></p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="https://www.spendlifetraveling.com/wp-content/uploads/2018/02/why_fly_business_class_first_class.jpg" alt="img" style="width:100%; height: 200px;">
            <h3>First Class</h3>
            <h6 class="w3-opacity">From <i class="fa fa-inr" aria-hidden="true"></i> 199</h6>
            <p>40m<sup>2</sup></p>
            <p class="w3-large"><i class="fa fa-phone"></i> <i class="fa fa-wifi"></i> <i class="fa fa-tv"></i> <i class="fa fa-glass"></i> <i class="fa fa-cutlery"></i></p>

        </div>
    </div>
</div>
<div class="row" id="about">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <h3>About</h3>
        <h6 style="font-size: medium;line-height: inherit; font-style: italic;">Purchasing flight tickets and confirming your flight booking is the key aspect of planning a trip. Now whether you are travelling for business or on leisure, you cannot make an itinerary until you have first and foremost booked your flights. Procuring
            an air ticket is a mandatory first step once your travel plans are confirmed. It feels as though half the job is done the moment you secure confirmed flight ticket booking in your hand. The entire activity of searching air connectivity between
            two cities, checking the schedule of the flight and zeroing in on one that's most convenient to you can feel like a lot of work especially if you are in a hurry to book your flights. On AirLIneManagementSystem, the process of air ticket booking
            as well as scoring is made quite simple by an extremely user-friendly interface that has some special perks too. We give you enough reasons to book your flight with AirLIneManagementSystem, whether domestic or international.
        </h6>
        <p>We accept: <i class="fa fa-credit-card fa-3x"></i> &nbsp;<i class="fa fa-cc-mastercard fa-3x">&nbsp;</i>
            <i class="fa fa-cc-amex fa-3x"></i> &nbsp;<i class="fa fa-cc-cc-visa fa-3x"></i>&nbsp;<i class="fa fa-cc-paypal fa-3x"></i>
        </p>
    </div>

    <div class="col-md-5">
        <img src="https://static.toiimg.com/photo/75758442.cms" class="w3-image w3-greyscale" style="width:100%;">
    </div>
    <div class="col-md-1"></div>

</div>
<div class="container-fluid">
    <div class="row" style="padding-top: 10px;">
        <div class="col-md-1"></div>
        <div class="col-md-4" style="padding-bottom: 20px;"><i class="fa fa-map-marker" style="color:red;"></i><b>
                RoadNo-5,HitechCity,Hyderbad</b> </div>
        <div class="col-md-3" style="padding-bottom: 20px;"><i class="fa fa-phone" style="color:red;"></i><b>Phone: +91
                8464947070</b></div>
        <div class="col-md-3" style="padding-bottom: 20px;"><i class="fa fa-envelope" style="color:red;"></i><b> Email:
                AirLineManagementSystem@gmail.com</b>
        </div>
    </div>
</div>


<div class="container-fluid" style="padding-bottom: 20px;">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="background-color: violet;">
        <div class="text-center" style="color: ghostwhite;">
            <h1><b><i>Famous Destinations</i></b></h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="https://www.planetware.com/photos-large/IND/india-top-attractions-taj-mahal.jpg" alt="Cinque Terre" style="width:100%; height:700px;">

                    </div>
                    <div class="item">
                        <img src="https://www.visittnt.com/blog/wp-content/uploads/2016/06/kerala-handy-travel-guide-1.jpg" style="width:100%;height: 700px;">
                    </div>

                    <div class="item">
                        <img src="https://toib.b-cdn.net/wp-content/uploads/2017/04/munnar.jpg" alt="New york" style="width:100%;height: 700px;">
                    </div>
                    <div class="item">
                        <img src="https://cdn.cdnparenting.com/articles/2018/10/20150527052006_128686832-768x525.webp" alt="New york" style="width:100%;height: 700px;">
                    </div>

                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>


<!--background slide image-->
<div class="background-wrapper" style="background-image: url(../../assets/images/image3.jfif); background-size: cover;">
    <div style="text-align: center; padding: 10rem; color:white">
        <h3>come fly with us to desired places & we'll take care of your comfort and safety</h3>
        <hr width="40%" align="center">
        <h1>Welcome to Airline</h1>
    </div>
</div>