<head>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
   
		<footer class="footer-distributed">
            <div class="row">
				<div class="col-md-2">

				</div>
               <div class="col-md-4">
				<div class="footer-right">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>
	
				</div>
			   </div>
			   <div class="col-md-6">
				<div class="footer-left">

					<p class="footer-links">
						<a class="link-1" href="#">Home</a>
			
						<a href="#">About</a>
	
						<a href="#">Faq</a>
						</p>
	
				</div>
			</div>
			</div> <br>
	
			<p style="margin-left: 600px; color: grey;">Movie Ticket Booking &copy; 2021</p>


		</footer>