h1 {
    color: ghostwhite;
}

th {
    border-width: 2px;
    color: ghostwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    border-color: black;
}

tr {
    border-color: black;
    color: ghostwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}

#btn {
    background-color: red;
    color: ghostwhite;
    border-radius: 50px;
}