<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <br><br><br>
            <h1 style="color:darksalmon;">About Progressive Application for COVID-19</h1>
        </div>    
    </div>

    <hr class="mb-5 w-100 mt-3" style="border-top: 2px solid #FF8C00; border-radius: 100%;"><br><br>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <p style="color:darkturquoise;"><b>HI, GET VACCINATED NOW!</b></p>
            <p>Vaccines reduce risks of getting a disease by working with your body's natural defenses to build protection. When you get a vaccine, your immune system responds.
                 It recognizes the invading germ, such as the virus or bacteria.
                <br><br>
                Need something built or simply want to have chat? Reach out to us on <a
                    href="https://www.pac-vaccination.com/PAC-Admin/">social media</a> or send us to <span
                    class="text-info" title="PACVaccination@gmail.com">email</span>.
            </p>
        </div>

        <div class="col-lg-6 col-sm-12 mb-5">

            <p style="color:darkturquoise;"><b>Importance of Vaccination</b></p>
            <p>Why should I get the Covid vaccine?
            </p>
            <ul>
               <p> When enough people in the community are vaccinated, it slows down the spread of disease.
                To reduce the harm it causes and its spread in the community.
                Achieving herd immunity is a long-term goal.
                It will help save lives and livelihoods.</p>
            </ul>
        </div>
    </div> 
    <h1 class="mt-5 mb-5 text-center" style="color:gold;"><b>Vaccine Availability</b></h1>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            
                <img src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2021/08/covishield-covaxin-1628002701.jpg" width="300" height="220">
            
        </div>
        <div class="col-lg-6 col-sm-12 mb-5" >
            
                <img src="https://ichef.bbci.co.uk/news/976/cpsprodpb/17A53/production/_119115869_gettyimages-1233663517.jpg" width="300" height="220">
            
        </div>
    </div>    

    <p class="text-center" style="color:rgb(129, 140, 236);"><b>Some of Our Latest Works</b></p>
    <div class="row mt-3 mb-5">
        <div class="col-lg-4 col-sm-12 p-4">
            <img src="https://images.financialexpress.com/2021/08/covid-vaccination-india.jpg" width="300" height="220">
        </div>
        <div class="col-lg-4 col-sm-12 p-4">
            <img src="https://images.financialexpress.com/2021/01/Covid-Vaccine-Unicef-India.jpg" width="300" height="220">
        </div>
        <div class="col-lg-4 col-sm-12 p-4">
            <img src="https://images.hindustantimes.com/img/2021/01/16/550x309/AFP_8YV6EC_1610784584832_1610784604704.jpg" width="300" height="220">
        </div>
    </div><br>
</div>        
