<link rel="stylesheet" href="faqs.component.css">
<div class="container-fluid" id="bg">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8" id="border">
            <br>
            <br><br>
            <h2>When should I travel by plane?</h2>
            <p>✓ When you need to get there quickly. There’s no faster way to cover long distances. A coast-to-coast drive in the United States takes at least four days, but with a good tailwind you can fly the distance in about five hours, often for less
                than the cost of gas. There are more nonstops than ever before. Just go.
            </p>

            <p> ✓ If you love to fly. Jet travel can be thrilling. If you get a little jolt of adrenaline during takeoffs and landings (I admit I do), and love the view from 36,000 feet, then flying is definitely for you. If you have the travel bug, spotting
                lakes and cities from seven miles up can be a wonderful game to experience with your family and friends. Also, taking pictures out the window (when permitted) can add some adventure to your photo album.</p>

            <br>
            <h2>When should I avoid flying?</h2>
            <p>✓ If you want to take your time. Road trips are one of the best ways to see a place or what’s between places. You can go anywhere, stop when you want to, eat where you want, and get as close to the scenery as you want. There’s no way to experience
                a place when you’re zipping over it at 550 mph in a plane.
            </p>
            <p>✓ If you suffer from aerophobia. Fear of flying is probably the best reason to stay grounded. If you can drive or take the train, you should. By the way, you can take classes to overcome this fear if you want to. Some flight training schools
                also offer “discovery” flights to introduce people to flying, and many people take these classes to help overcome their fears.</p>

            <br>
            <h2>Come on. Everyone flies, don’t they?</h2>
            <p>✓ Not exactly. A fly/no-fly decision is not a no-brainer. You may be able to reach your destination as quickly if you choose another form of transportation. Flying isn’t for everyone, and it isn’t the dominant form of transportation in the
                United States.</p>
            <p>✓ Statistics show that for every mile flown, Americans drive ten. But thanks to stories in travel magazines and on TV that assume the only way to get anywhere is to board a plane, there’s a common misperception that we fly everywhere. Don’t
                believe everything you read. Ground transportation is still a great choice.
            </p>
            <br>
            <br>
            <br>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>