<!-- <p>payment-book works!</p> -->
 <!-- <p *ngFor="let b of Book">
   {{b.}}
 </p> -->
<!-- {{book.theatreId}} -->
<div class="sidebar"><br><br><br><br><br><br><br><br>
  <a href="#">View Profile</a>
  <a [routerLink]="['/homeUser']"><i id= "icons"class="fa fa-fw fa-home"></i> Home</a>
  <a [routerLink]="['/booking']"><i id = "icons" class="fas fa-ticket-alt"></i> Book Movie</a>
  <a [routerLink]="['/myBookings']"> <i id= "icons"class="fa fa-history"></i>  Booking History</a>
  <a [routerLink]="['/faqs']"><i id= "icons" class="fa fa-fw fa-envelope"></i> FAQ'S</a>
  
</div> 

<div class="container-fluid">
  <h2  style="text-align: center;color: antiquewhite;">Payment</h2>
   <!-----------------------------------------Payment Interface Code------------------------------------>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  
  <div class="container">

  <!-- <hr> -->
  <h4 style="text-align: center; color: rgb(46, 180, 46);">Amount to be paid Rs.{{price}} </h4> 
  <div class="row">
    <aside class="col-sm-3">
    </aside> <!-- col.// -->

    <aside class="col-sm-6">
  
  <article class="card">
  <div class="card-body p-5">
  
  <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
      <i class="fa fa-credit-card"></i> Credit Card</a></li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
                                                                              <!-- <i class="fab fa-paypal"></i>  Paypal</a></li> -->
    <img src=" https://cdn.icon-icons.com/icons2/2699/PNG/512/upi_logo_icon_169316.png" style="width: 50px; height: 30px;"></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
      <i class="fa fa-university"></i>  Bank Transfer</a></li>
  </ul>
  
  <div class="tab-content">
  <div class="tab-pane fade show active" id="nav-tab-card">
    <p class="alert alert-success">Some text success or error</p>
    <form role="form">
      <div class="form-group">
        <label for="username">Full name (on the card)</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-user"></i></span>
          </div>
          <input type="text" class="form-control" name="username" placeholder="" required="">
        </div> 
        </div> 
  
     <div class="form-group">
  <label for="cardNumber">Card number</label>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-credit-card"></i></span>
    </div>
    <input type="text" class="form-control" name="cardNumber" placeholder="">
  </div> 
  </div> 
  
    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label><span class="hidden-xs">Expiration</span> </label>
              <div class="input-group">
                <input type="number" class="form-control" placeholder="MM" name="">
                  <input type="number" class="form-control" placeholder="YY" name="">
              </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                <input type="number" class="form-control" required="">
            </div> 
        </div>
    </div> 
    <button class="subscribe btn btn-primary btn-block" type="button" (click) = "fnConfirm()"> Confirm  </button>
    </form>
  </div> 
  <div class="tab-pane fade" id="nav-tab-paypal">
  <p>UPI is easiest way to pay online</p>
  <p>
   <input type="radio" name="UPI" id=""> &nbsp; 
   <a><img src="https://image.flaticon.com/icons/png/512/825/825454.png" height="30px" width="50px"></a> <br> 

   <input type="radio" name="UPI" id=""> &nbsp; 
   <a><img src="https://www.searchpng.com/wp-content/uploads/2018/11/phone-pe.png" height="30px" width="50px"></a> <br>

   <input type="radio" name="UPI" id=""> &nbsp; 
   <a><img src="https://www.searchpng.com/wp-content/uploads/2019/02/Google-Pay-Logo-Icon-PNG-1024x1024.png" height="30px" width="50px"></a> <br>
  </p>
   
  <input type="text" name="" id="" placeholder="example@upi"><br><br>
 
   <input type="button" value="Pay" class="btn btn-primary" style="width: 50px; margin-left: 50px;">
  
  </div>

  <div class="tab-pane fade" id="nav-tab-bank">
  <p>Bank accaunt details</p>
  <dl class="param">
    <dt>BANK: </dt>
    <dd> THE WORLD BANK</dd>
  </dl>
  <dl class="param">
    <dt>Accaunt number: </dt>
    <dd> 12345678912345</dd>
  </dl>
  <dl class="param">
    <dt>IBAN: </dt>
    <dd> 123456789</dd>
  </dl>
  <p><strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. </p>
  </div> 
  </div> 
  
  </div> 
  </article> 
    </aside> 
    <aside class="col-sm-3">

    </aside> 
  </div>
  
  </div> 
  <br><br>

  
  
  </div> <br>

  
  <br>
  